body *{
    font-family: 'Rubik';
    line-height: 1.5;
}

h1 {
    font-weight: 900;
    margin: 5px;
    margin-left: 0px;
    margin-top: 5px;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 26px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

hr {
    height: 2px;
    margin-left: 50px;
    margin-right: 50px;
    background: rgb(189, 125, 69);
    border: none;
    margin-top: 10px;
    margin-bottom: 25px;

}

.crime_text {
    color: #ce5428;
    font-weight: bold;
}

.unemployment_text {
    color: #5286a6;
    font-weight: bold;
}

.density_text {
    color: #fd8d3c;
    font-weight: bold;
}
.socio_text {
    color: #c7a555;
    font-weight: bold;
}

.population_text {
    color:rgb(40, 193, 93);
    font-weight: bold;
}

.white_text {
    color: white;
    font-weight: bold;
}

.credit {
    color: #ff9500;
    font-weight: bold;
}

.empty_text {
    color: darkorchid;
    font-weight: bolder;
}

.red_text {
    color: crimson;
    font-weight: bold;
}

.perlis {
    color: #4f772d;
    font-weight: bold;
}

.selangor {
    color: #f5cb5c;
    font-weight: bold;
}

.penang {
    color: #9e2c2e;
    font-weight: bold;
}

.sarawak {
    color: #1982c4;
    font-weight: bold;
}

.sabah {
    color: #036666;
    font-weight: bold;
}

.melaka {
    color: #0b132b;
    font-weight: bold;
}

body {
    background-color: white;
}

.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 30px;
}

.vis-container {
    width: 100%;
}

.description h2,

.description-right {
    padding-left: 5px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 25px;
}

.small-font {
    font-size: 14px;
}

.title {
    font-family: 'Lobster Two';
}

.banner {
    background-image: url('https://raw.githubusercontent.com/actaeon02/FIT3179/main/Visualisation/Banner.png');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-color: black;
    border-style:solid;
    border-width: 2px;
}

.outer_frame {
    background-color: rgba(203, 201, 201, 0.355);
    margin-left: -80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 15px;
    border-color: darkslategray;
    border-style:double;
    opacity: 1;
    border-width: 6px;
    display: inline-block;
    box-sizing: border-box;
    width: 1200px;
}

.frame {
    background-color: #FFF5EE;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 15px;
    border-color: black;
    border-style:solid;
    border-width: 2px;
    opacity: 100%;
}
