body *{
    font-family: 'Cantarell', sans-serif;
    line-height: 1.5;
}

h1 {
    font-weight: 900;
    margin: 5px;
    margin-left: 0px;
    margin-top: 5px;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 26px;
    text-align: center;
}

p {
    font-size: 14px;
    text-align: justify;
}

.crime_text {
    color: #a63603;
    font-weight: bold;
}

.unemployment_text {
    color: #2f5e84;
    font-weight: bold;
}

.density_text {
    color:rgb(54, 156, 54);
    font-weight: bold;
}
.socio_text {
    color: sandybrown;
    font-weight: bolder;
}

.white_text {
    color: white;
    font-weight: bold;
}

.pink_text {
    color: palevioletred;
    font-weight: bolder;
}

.red_text {
    color: crimson;
    font-weight: bold;
}

body {
    background-color: white;
}

.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 30px;
}

.vis-container {
    width: 100%;
}

.description h2,

.description-right {
    padding-left: 5px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 25px;
}

.small-font {
    font-size: 12px;
}

.title {
    font-family: 'Lobster Two';
}

.banner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('https://raw.githubusercontent.com/actaeon02/FIT3179/main/Visualisation/Banner.png');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

#frame {
    background-color: #FFF5EE;
    padding: 20px;
}
